.nav-action-img {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  background-color: var(--smoke-bg);
  background-image: url(../images/me.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  transition: .2s ease-in-out;
  cursor: pointer;
  border-radius: 100px;
}

.nav-action-click {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  background-color: var(--smoke-color);
  transition: .2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.btnsec {
  position: relative;
  display: inline-flex;
  height: 40px;
  align-items: center;
  border-radius: 100px;
  padding: 0 20px;
  background: var(--smoke-color);
}

.nav-action-click::before, .nav-action-click::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background: white;
  transform: rotate(45deg);
}

.nav-action-click::before {
  transform: rotate(-45deg);
}

.nav-action-img:hover, .nav-action-click:hover,
.nav-action-img:focus, .nav-action-click:focus,
.modal .close:hover {
  background-color: rgba(225, 225, 225, .5);
}

.nav-action-img:hover::before, .nav-action-img:focus::before,
.nav-action-img:hover:before, .nav-action-img:focus:before {
  content: '@codee';
  position: absolute;
  background: var(--base-color);
  z-index: -1;
  animation: fadeInDown .2s ease-in-out;
  border-radius: 100px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  line-height: .7rem;
  height: 24px;
  width: 53px;
  top: 60px;
  bottom: 0;
  left: -12%;
  margin: auto;
  margin: auto;
}

section#jumbo {
  height: 490px;
  display: flex;
  align-items: flex-end;
}

.alt {
  height: 600px !important;
}

.casebox {
  border-top: 1px solid var(--smoke-color);
  padding-top: 30px;
  margin-bottom: 70px;
}

.casebox-link {
  font-size: 1.4rem;
  position: relative;
  font-weight: 600;
  line-height: 1.6rem;
}

#skilet {
  margin-bottom: 50px;
}

.skill {
  padding-bottom: 10px;
  position: relative;
}

.casebox-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--smoke-color);
  bottom: -10px;
}

.casebox-link::after, .skill::after {
  content: '';
  position: absolute;
  width: 0;
  transition: .2s ease-in-out;
  height: 1px;
  left: 0;
  background: white;
  bottom: -10px;
}

.casebox-link:hover::after {
  width: 100%;
}

.casebox-img {
  width: 100%;
  height: 663px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #d2d2d2;
  background-size: cover;
  background-position: center;
}

.mid-break {
  width: 60%;
  height: 1px;
  position: relative;
  overflow: hidden;
  transform: translateY(8px);
  background: var(--smoke-color);
}

.mid-break::before {
  content: '';
  position: fixed;
  width: 10px;
  left: 400px;
  animation: percentageZero 5s linear infinite;
  height: 1px;
  background: var(--base-color);
}

.header-break {
  height: 80px;
}

.detail-break {
  height: 60px;
}

.load {
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 200;
  left: 0;
  top: 0;
}

.load:before, .load::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid var(--base-color);
  border-radius: 100px;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  animation: spin 1s linear infinite;
}

.load::after {
  border-bottom: 2px solid transparent;
  border-left: 2px solid orange;
  animation: spin .5s linear infinite;
}

.message {
  position: fixed;
  z-index: 210;
  border-radius: 20px;
  padding: 10px 20px;
  width: fit-content;
  display: none;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-transform: capitalize;
}

.message.success {
  background: #008c41;
}

.message.error {
  background: #ba351e;
}

.abs {
  width: 100%;
}

.abs .mid-break {
  width: 100%;
}

.abs .mid-break::before {
  animation-delay: 800ms;
}

.quals {
  transition: .3s;
  transform-origin: bottom right;
  transform-box: border-box;
  transform: rotate(-90deg) translate(0, -10px);
}

.not-found {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description-box {
  padding: 140px 0;
  padding-bottom: 0;
}

.description-img {
  height: 600px;
  background-color: #100D0D;
  margin-top: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.description-img-alt {
  height: 600px;
  background-color: #d2d2d2;
  background-size: cover;
  background-position: center;
  margin: 10px 6px;
  border-radius: 10px;
}

.description-img-alt#a {
  margin-left: 0
}

.description-img-alt#b {
  margin-left: 12px;
}

.description-breaker {
  height: 140px;
}

.nomar {
  margin: 10px 0;
}

.menu {
  width: 30px;
  position: relative;
  transition: .2s ease-in-out;
  z-index: 3;
  height: 30px;
  margin-right: 20px;
}

.menu::before, .menu::after {
  content: '';
  position: absolute;
  transition: .2s;
  width: 30px;
  height: 2px;
  border-radius: 100px;
  background: white;
  left: 0;
  margin: auto;
  bottom: 11px;
}

.brand {
  transition: .2s ease-in-out;
}

.menu::after {
  top: 5px;
  width: 20px;
}

.menu.open {
  position: fixed;
  top: 30px;
  transition: .2s ease-in-out;
}

.menu.open::before, .menu.open::after {
  transform: rotate(45deg);
  width: 20px;
  top: 0;
  right: 0;
}

.menu.open::after {
  transform: rotate(-45deg);
}

.sidemenu {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0A0A0A;
  left: -100%;
  transition: .2s ease-in-out;
  top: 0;
}

.sidemenu ul {
  display: block;
}

.sidemenu ul li {
  width: 100%;
  margin: 20px 0;
}

.sidemenu ul li a {
  justify-content: space-between;
  font-size: 26px;
  line-height: 32px;
}

.sidemenu ul li a svg {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: var(--smoke-color);
}

.sidemenu .footer {
  position: absolute;
  bottom: 10px;
  border-top: 1px solid var(--smoke-color);
  width: 90%;
  padding: 10px 0;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #0A0A0A;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader img {
  width: 100%;
}

.preloader .images {
  position: absolute;
  visibility: hidden;
  left: -100%;
}

.preloader .large-text {
  animation: fadeIn 8s linear;
}

.preloader.done {
  animation: fadeOut 1s ease;
}

.preloader.hide {
  display: none;
}

.preloader .large-text {
  text-align: center;
}

.preloader .large-text p {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preloader .large-text p span {
  width: 4px;
  height: 4px;
  animation: spin 800ms linear infinite;
  border: 2px solid white;
  border-left: 2px solid transparent;
  border-radius: 100px;
  position: relative;
}

@import "./responsive.css";
