.nav-action-img {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  background-color: var(--smoke-color);
  background-image: url(../images/me.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  transition: .2s ease-in-out;
  cursor: pointer;
  border-radius: 100px;
}

.nav-action-img:hover {
  background-color: rgba(225, 225, 225, .5)
}

.nav-action-img:hover::before {
  content: '@codee';
  position: absolute;
  background: var(--base-color);
  z-index: -1;
  animation: fadeInDown .2s ease-in-out;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .7rem;
  line-height: .7rem;
  height: 24px;
  width: 53px;
  top: 60px;
  bottom: 0;
  left: -12%;
  margin: auto;
  margin: auto;
}

section#jumbo {
  height: 600px;
  display: flex;
  align-items: flex-end;
}

.alt {
  height: 400px !important;
}

.casebox {
  border-top: 1px solid var(--smoke-color);
  padding-top: 30px;
  margin-bottom: 70px;
}

.casebox-link {
  font-size: 1.4rem;
  position: relative;
  font-weight: 600;
}

#skilet {
  margin-bottom: 100px;
}

.skill {
  padding: 10px 0;
  position: relative;
}

.casebox-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--smoke-color);
  bottom: -10px;
}

.casebox-link::after, .skill::after {
  content: '';
  position: absolute;
  width: 0;
  transition: .2s ease-in-out;
  height: 1px;
  left: 0;
  background: white;
  bottom: -10px;
}

.casebox-link:hover::after {
  width: 100%;
}

.casebox-img {
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #d2d2d2;
  background-size: cover;
  background-position: center;
}

.mid-break {
  width: 20%;
  height: 1px;
  background: var(--smoke-color);
}

.header-break {
  height: 80px;
}

@import "./responsive.css";
