@charset "UTF-8";
@import "../fonts/font.css";
@import 'variables.css';
@import 'complex.css';

.no-radius { border-radius: 0 !important; }

.pageRoutes { display: none; }
.pageRoutes.true { display: block; }

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: 'FontRegular', 'Gill Sans', system-ui, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: white;
  background: #0A0A0A;
  font-size: 12px;
  line-height: 18px;
}

a {
  color: white;
  text-decoration: none;
}

button, .button {
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  transition: .2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  overflow: hidden;
}

button.nostyle {
  padding: 10px 0;
  background: transparent;
  color: var(--base-color);
}

.primary {
  background: var(--base-color);
  color: black;
}

.secondary {
  background: #9eff5910;
  color: var(--base-color);
}

.button.primary:focus::before, .button.secondary:focus::before, button.nostyle::before {
  content: '';
  position: absolute;
  transition: .2s ease-in-out;
  width: 100%;
  height: 100%;
  background: var(--base-color);
}

.button.secondary:focus {
  color: transparent;
}

.button.secondary:focus::before {
  background: #546BFF10;
}

.button.primary:focus::after, .button.secondary:focus::after, button.nostyle::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  border-right: 2px solid transparent;
  border-radius: 100px;
  animation: spin 800ms linear infinite;
}

.button.secondary:focus::after {
  border: 1px solid var(--base-color);
  border-right: 1px solid transparent;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  transition: .2s ease-in-out;
  align-items: center;
  background: #0A0A0A;
  z-index: 10;
}

header.stick {
  height: 55px;
  background: #0A0A0A;
  box-shadow: 0 0.035rem 0 0 rgba(255, 255, 255, 0.04);
}

header .slick {
  transition: .2s ease-in-out;
}

header nav {
  width: 100%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
}

header ul li a, footer a, footer .link, .link {
  display: flex;
  align-items: center;
}

header ul li {
  margin-right: 20px;
}

header ul li a svg, footer a svg, footer .link svg, .link svg {
  width: 15px;
  transition: .1s ease-in-out;
}

header ul li a:hover {
  color: grey;
}

footer a span {
  transition: .2s ease-in-out;
}

header ul li a:hover svg, footer a:hover svg, footer a:hover span {
  transform: rotate(45deg) translate(0, -0.5px);
}

footer {
  height: 80px;
  display: flex;
}

.container {
  width: 90%;
  margin: auto;
}

.sm-container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.center-align {
  align-items: center;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.h1 {
  font-size: 44px;
  line-height: 48px;
  -webkit-text-stroke: 1px;
}

.h2 {
  font-size: 34px;
  line-height: 40px;
  -webkit-text-stroke: 1px;
}

.h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

.heading {
  font-size: 1.4rem;
  line-height: 2rem;
}

.smoke-text {
  color: grey;
}

.center-text {
  text-align: center;
}

.large-text {
  font-size: 18px;
  line-height: 30px;
}

.link {
  cursor: pointer;
}

.link.color {
  color: var(--base-color);
}

.link:hover {
  color: var(--base-color);
}

div.modal {
  width: 100%;
  height: 100%;
  background: #0A0A0Af0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
}

div.modal-box {
  width: 400px;
  z-index: 2;
  border: 1px solid var(--smoke-color);
  border-radius: 20px;
  background: #0A0A0A;
}

div.modal .close {
  width: 40px;
  height: 40px;
  display: flex;
  position: fixed;
  background-color: var(--smoke-color);
  transition: .2s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  right: 20px;
  top: 20px;
}

div.modal .close::before, div.modal .close::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background: white;
  transform: rotate(45deg);
}

div.modal .close::before {
  transform: rotate(-45deg);
}

div.modal-close {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

div.modal-box-content {
  padding: 20px;
}

div.modal-header-bar {
  height: 1px;
  background: var(--smoke-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

input, textarea, select {
  width: calc(100% - 30px);
  outline: none;
  color: white;
  padding: 17px 15px;
  transition: .2s ease-in-out;
  background: var(--smoke-color);
  border: none;
  font-size: 13px;
  -webkit-appearance: none;
  border-radius: 10px;
}

input[type="text"] {
  text-transform: capitalize;
}

textarea {
  resize: none;
  white-space: nowrap;
}

input:focus, textarea:focus, select:focus {
  background: var(--smoke-bg);
}

::placeholder {
  color: grey;
}

div.form-input {
  margin-bottom: 10px;
}

div.modal .title {
  font-size: 20px;
  line-height: 30px;
}

@import "base.css";
