:root {
  --base-color: #b2ff7b;
  --smoke-color: rgba(225, 225, 225, 0.1);
  --smoke-bg: rgb(61, 61, 61);
  --animate-duration: 400ms;
}

@keyframes percentageZero {
  0% { left: -200px; }
  50% { background: #444444; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
