:root {
  --base-color: #b2ff7b;
  --smoke-color: rgba(225, 225, 225, 0.1);
  --animate-duration: 400ms;
}

@keyframes percentageZero {
  0% { left: -200px; }
}

@keyframes percentageZeroAlt {
  0% { left: -100% !important; }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}
